Repository Kusitms-POPTATO-DEV/Poptato_Server, pull requests merged in 2024-11, with the labels that each got.

#71 Fix#70: 완료된 할 일 desc -> asc
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/domain/repository/TodoRepository.java
  src/test/java/server/poptato/todo/domain/repository/TodoRepositoryTest.java
Labels: fix

#73 Fix: Test용 redis 도입
  build.gradle
  src/test/java/server/poptato/auth/api/AuthControllerTest.java
  src/test/java/server/poptato/auth/application/AuthServiceTest.java
Labels: fix, test

#74 Fix: test용 redis 포트번호 수정
  src/test/java/server/poptato/auth/api/AuthControllerTest.java
  src/test/java/server/poptato/auth/application/AuthServiceTest.java
Labels: fix, test

#76 Fix: backlog 리스트 조회 수정
  src/main/java/server/poptato/todo/domain/repository/TodoRepository.java
  src/main/java/server/poptato/todo/infra/repository/JpaTodoRepository.java
  src/test/java/server/poptato/todo/application/TodoBacklogServiceTest.java
Labels: fix

#77 Refactor: scheduler
  src/main/java/server/poptato/todo/application/TodoScheduler.java
  src/main/java/server/poptato/todo/domain/repository/TodoRepository.java
  src/test/java/server/poptato/todo/application/TodoSchedulerTest.java
Labels: refactor

#80 Feat#79: 튜토리얼 데이터 추가
  hs_err_pid15120.log
  hs_err_pid33544.log
  replay_pid15120.log
  replay_pid33544.log
  src/main/java/server/poptato/auth/application/service/AuthService.java
  src/main/java/server/poptato/todo/constant/TutorialMessage.java
  src/main/java/server/poptato/todo/domain/repository/TodoRepository.java
  src/test/java/server/poptato/auth/application/AuthServiceTest.java
Labels: feat
