Repository Kusitms-POPTATO-DEV/Poptato_Server, pull requests merged in 2024-10, with the labels that each got.

#7 Fix: PR 내용에 따라 Label 자동 설정되도록 수정
  .github/labeler-config.yml
  .github/labeler.yml
  .github/workflows/label.yml
Labels: fix, feat

#10 Chore#9: todo 엔티티 생성
  .github/labeler-config.yml
  src/main/java/server/poptato/todo/domain/entity/Todo.java
  src/main/java/server/poptato/todo/domain/value/TodayStatus.java
  src/main/java/server/poptato/todo/domain/value/Type.java
Labels: chore

#16 fix: 카카오로그인 수정
  src/main/java/server/poptato/external/kakao/feign/KakaoAuthApiClient.java
  src/main/java/server/poptato/external/kakao/service/KakaoSocialService.java
Labels: fix

#18 Fix#17: 카카오 로그인 코드를 액세스토큰으로 수정
  src/main/java/server/poptato/auth/application/service/AuthService.java
  src/main/java/server/poptato/external/kakao/service/KakaoSocialService.java
Labels: fix

#20 fix: 로그인시 응답 jwt 토큰 반환
  src/main/java/server/poptato/auth/api/AuthController.java
  src/main/java/server/poptato/global/response/BaseResponse.java
Labels: fix

#24 Feat#14: 투두 삭제 기능 구현
  src/main/java/server/poptato/external/kakao/service/KakaoSocialService.java
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/domain/repository/TodoRepository.java
  src/main/java/server/poptato/todo/exception/errorcode/TodoExceptionErrorCode.java
  src/main/java/server/poptato/todo/infra/repository/JpaTodoRepository.java
  src/main/java/server/poptato/user/application/service/UserService.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: feat

#26 Feat#25: 즐겨찾기 변경 기능 구현
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/domain/entity/Todo.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: feat

#28 Feat#23: 스와이프 기능 구현
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/api/request/SwipeRequestDto.java
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/domain/entity/Todo.java
  src/main/java/server/poptato/todo/domain/repository/TodoRepository.java
  src/main/java/server/poptato/todo/exception/errorcode/TodoExceptionErrorCode.java
  src/main/java/server/poptato/todo/infra/repository/JpaTodoRepository.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
  src/test/java/server/poptato/todo/domain/repository/TodoRepositoryTest.java
Labels: feat

#30 Feat#29: 드래그앤드롭 기능 구현
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/api/request/DragAndDropRequestDto.java
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/domain/entity/Todo.java
  src/main/java/server/poptato/todo/domain/repository/TodoRepository.java
  src/main/java/server/poptato/todo/domain/value/Type.java
  src/main/java/server/poptato/todo/exception/errorcode/TodoExceptionErrorCode.java
  src/main/java/server/poptato/todo/infra/repository/JpaTodoRepository.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/todo/application/TodoServiceDragAndDropTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: feat

#32 Fix: 드래그앤드롭 테스트 코드 수정 및 순서 할당 방법 수정
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/domain/repository/TodoRepository.java
  src/main/java/server/poptato/todo/infra/repository/JpaTodoRepository.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/todo/application/TodoServiceDragAndDropTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: fix

#33 Feat#27 히스토리 조회 기능 구현
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/application/response/HistoryResponseDto.java
  src/main/java/server/poptato/todo/application/response/PaginatedHistoryResponseDto.java
  src/main/java/server/poptato/todo/domain/repository/TodoRepository.java
  src/main/java/server/poptato/todo/infra/repository/JpaTodoRepository.java
  src/main/java/server/poptato/user/application/service/UserService.java
  src/main/java/server/poptato/user/infra/repository/JpaUserRepository.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: feat

#35 Feat#31: 백로그 생성 기능 구현
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/api/request/BacklogCreateRequestDto.java
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/domain/entity/Todo.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/todo/application/BacklogCreateTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: feat

#37 Feat#36: 할 일 상세조회 기능 구현
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/application/response/TodoDetailResponseDto.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: feat

#39 Feat#34: 어제 한 일 조회 기능 구현
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/application/response/PaginatedYesterdayResponseDto.java
  src/main/java/server/poptato/todo/application/response/YesterdayResponseDto.java
  src/main/java/server/poptato/todo/domain/repository/TodoRepository.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: feat

#41 Feat#38: 마감기한 수정 기능 구현
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/api/request/DeadlineUpdateRequestDto.java
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/domain/entity/Todo.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: feat

#43 Fix: 백로그 생성 테스트코드 수정
  src/test/java/server/poptato/todo/application/BacklogCreateTest.java
Labels: fix

#44 Feat#42: 할일 내용 수정 기능 구현
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/api/request/ContentUpdateRequestDto.java
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/domain/entity/Todo.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: feat

#46 Feat#45: 할 일 달성여부 변경 기능 구현
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/application/response/BacklogResponseDto.java
  src/main/java/server/poptato/todo/application/response/TodayResponseDto.java
  src/main/java/server/poptato/todo/domain/entity/Todo.java
  src/main/java/server/poptato/todo/exception/errorcode/TodoExceptionErrorCode.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
  src/test/java/server/poptato/todo/application/response/TodayResponseDtoTest.java
Labels: feat

#47 Feat#40: 마이페이지 이름 변경
  src/main/java/server/poptato/auth/exception/AuthException.java
  src/main/java/server/poptato/auth/exception/errorcode/AuthExceptionErrorCode.java
  src/main/java/server/poptato/auth/exception/handler/AuthExceptionHandler.java
  src/main/java/server/poptato/user/api/UserController.java
  src/main/java/server/poptato/user/api/request/UserChangeNameRequestDto.java
  src/main/java/server/poptato/user/application/service/UserService.java
  src/main/java/server/poptato/user/domain/entity/User.java
  src/main/java/server/poptato/user/resolver/UserResolver.java
  src/test/java/server/poptato/user/api/UserControllerTest.java
  src/test/java/server/poptato/user/application/UserServiceTest.java
Labels: feat

#49 Feat#48: 스케줄러 기능 구현
  src/main/java/server/poptato/PoptatoApplication.java
  src/main/java/server/poptato/todo/application/TodoScheduler.java
  src/main/java/server/poptato/todo/domain/entity/Todo.java
  src/main/java/server/poptato/todo/domain/repository/TodoRepository.java
  src/main/java/server/poptato/todo/infra/repository/JpaTodoRepository.java
  src/test/java/server/poptato/todo/application/TodoSchedulerTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: feat

#51 Fea#50: user 프로필 조회 기능 구현
  src/main/java/server/poptato/user/api/UserController.java
  src/main/java/server/poptato/user/application/response/UserResponseDto.java
  src/main/java/server/poptato/user/application/service/UserService.java
  src/test/java/server/poptato/user/api/UserControllerTest.java
  src/test/java/server/poptato/user/application/UserServiceTest.java
Labels: feat

#53 Refactor#52: 날짜 내림차순으로 변경
  src/main/java/server/poptato/todo/application/TodoService.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: refactor

#54 Fix: 백로그 조회 시 마감기한이 항상 null로 조회되는 문제 해결
  src/main/java/server/poptato/todo/application/response/BacklogResponseDto.java
Labels: fix

#56 Refactor#55: exception 수정
  src/main/java/server/poptato/auth/application/service/AuthService.java
  src/main/java/server/poptato/auth/application/service/JwtService.java
  src/main/java/server/poptato/global/exception/errorcode/BaseExceptionErrorCode.java
  src/main/java/server/poptato/user/resolver/UserResolver.java
Labels: refactor

#58 Fix#57: 히스토리 정렬 수정
  src/main/java/server/poptato/todo/application/TodoService.java
Labels: fix

#60 Fix: 투데이/백로그 조회 시 데이터가 없을 경우 예외가 아닌 빈 리스트 반환으로 수정
  src/main/java/server/poptato/todo/application/TodoService.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: fix

#61 Fix: 토큰 만료 에러 응답 상태코드 수정
  src/main/java/server/poptato/auth/exception/errorcode/AuthExceptionErrorCode.java
  src/main/java/server/poptato/global/exception/errorcode/BaseExceptionErrorCode.java
Labels: fix

#62 Fix: 달성못한 할 일이 YESTSERDAY로 가도록 수정
  src/main/java/server/poptato/todo/application/TodoScheduler.java
Labels: fix

#63 Fix#59: 토큰관련 예외 400->401
  src/main/java/server/poptato/auth/exception/handler/AuthExceptionHandler.java
  src/main/java/server/poptato/user/api/UserController.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/user/api/UserControllerTest.java
Labels: fix

#68 Refactor#67: 예외케이스 수정 및 투두삭제/즐겨찾기 userId 추가
  src/main/java/server/poptato/auth/application/service/AuthService.java
  src/main/java/server/poptato/global/exception/errorcode/BaseExceptionErrorCode.java
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/domain/repository/TodoRepository.java
  src/main/java/server/poptato/user/application/service/UserService.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
  src/test/java/server/poptato/user/application/UserServiceTest.java
Labels: refactor

#69 Fix: push될 때만 cd 파일이 돌도록 cd 파일 수정
  .github/workflows/cd.yml
Labels: fix
